{% extends "base.html" %}
{% load static %}

{% block title %} Edit User {% endblock title %}

{% block active-home %}{% endblock active-home %}
{% block active-curr-user %}active{% endblock active-curr-user %}

{% block content %}
    <div class="container edit-container shadow-lg p-5">
        <div class="text-center">
            <h1 class="border-bottom border-primary border-5 pb-1 d-inline-block">Edit User</h1>
        </div>

        <form action="{% url 'edit_user' user.id %}" method="POST" class="needs-validation" novalidate>
            {% csrf_token %}
            
            <div class="mb-3">
            <label for="first-name" class="form-label">First Name:</label>
            <input id="first-name" name="first_name" type="text" placeholder="First Name..." required
            class="form-control" value="{{ user.first_name }}">
            </div>

            <div class="mb-3">
            <label for="last-name" class="form-label">Last Name:</label>
            <input id="last-name" name="last_name" type="text" placeholder="Last Name..." required
            class="form-control" value="{{ user.last_name }}">
            </div>

            <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" 
            required placeholder="Username..." value="{{ user.username }}">
            </div>

            <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" 
            required placeholder="Email..." value="{{ user.email }}">
            </div>

            <button type="submit" class="btn btn-primary btn-lg">Save Changes</button>
            
            <div id="validation-error" class="text-danger"></div>
        </form>
    </div>
{% endblock content %}

{% block footer %}{% endblock footer %}

<script>
    document.addEventListener("DOMContentLoaded", () => {
      const registerForm = document.querySelector(".needs-validation");

      registerForm.addEventListener("submit", (event) => {
        if (!registerForm.checkValidity()) {
          event.preventDefault();
          event.stopPropagation();
          displayValidationErrors();
        }
      registerForm.classList.add("was-validated");
      })

      function displayValidationErrors() {
        const validationErrors = document.getElementById("validation-error");
        validationErrors.innerHTML = "Please fill out all the required fields correctly!"
      }
    })
</script>