{% extends "base.html" %}
{% load static %}

{% block title %} Group Tours {% endblock title %}

{% block active-home %}{% endblock active-home %}
{% block services-active %}active{% endblock services-active %}

{% block content %}
  <img src="{% static 'img/service-img2-info.jpg' %}" alt="" class="img-fluid">
  <section id="info" class="py-5 bg-light">
    <div class="container">
      <div class="text-center">
        <h1 class="border-bottom border-info border-5 d-inline-block pb-2">
          Group Tours
        </h1>
      </div>
      <p class="py-5 fs-5">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        Laborum voluptas dignissimos iste nihil optio corporis quo 
        officia, vero doloremque possimus quod quia blanditiis placeat 
        molestiae repellendus accusamus minus est minima eveniet nobis 
        asperiores ut reiciendis totam. Quam libero ducimus esse quae quas 
        voluptates? Sapiente ut ad soluta dolores possimus odit aperiam deleniti 
        eligendi tempora! Fugit autem deleniti accusamus minima laboriosam! 
        Dolorem necessitatibus asperiores nemo, et, magnam atque iste tempore, 
        ab suscipit inventore laboriosam possimus! Commodi aliquid dignissimos
        repudiandae. Autem nemo numquam magnam, nostrum aspernatur inventore, 
        quas officia quod, vero tempora totam! Delectus ipsa praesentium tenetur 
        voluptatibus perferendis earum repellendus incidunt, mollitia veritatis
        quo ut sequi dignissimos deserunt beatae eum illum recusandae totam suscipit 
        consequatur nihil ducimus odio! Saepe molestias aperiam laboriosam voluptate 
        rem sequi earum nesciunt ducimus dolorum? Inventore provident consectetur 
        culpa sint omnis atque officiis ex, magni nulla commodi iure aliquam tenetur 
        eos eum sequi? Vel exercitationem vitae dolorem aliquam eveniet rerum impedit. 
        Architecto nostrum nam deserunt minima, nulla incidunt eligendi expedita, 
        ea qui id rerum! Aliquam, veritatis consequuntur nemo vero, hic maxime 
        facere dolor quo expedita ipsum saepe architecto esse molestiae, illo iusto? 
        Expedita unde recusandae esse cupiditate temporibus deserunt adipisci nobis 
        nostrum neque. Assumenda odit suscipit id magni expedita debitis veritatis 
        quo dolores, aliquid sapiente ipsa natus voluptatem nihil neque tempora dolore 
        minus iusto iure saepe iste alias sed blanditiis.
      </p>
    </div>
  </section>

{% endblock content %}